################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Requirement 3/ExploreADODOTNET/ExploreADODOTNET/BL/ManageStudent.cs
